//=======================================
// Do not change the order of those files
//=======================================

// ABSTRACT
@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/helpers";
@import "abstracts/functions";

// BASE
@import "base/reset";
@import "base/global";
@import "base/typography";
@import "base/shame";

// LAYOUT
@import "layout/grid";
@import "layout/navigation";
@import "layout/header";
@import "layout/sidebar";
@import "layout/footer";

// COMPONENTS
@import "components/alert";
@import "components/banner";
@import "components/buttons";
@import "components/card";
@import "components/forms";
@import "components/icons";
@import "components/menu";
@import "components/modal";
@import "components/progress";
@import "components/table";

// PAGES
@import "pages/home";

// THEMES
@import "themes/theme";



.header{

    border-bottom: 1px solid #EBEBEB;

}
.header__primary{
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    &--logo{
        a{
            text-transform: uppercase;
            color:black;
            text-decoration: none;
            font-size: 30px;
        }
    }
    &--nav{
        display: flex;
    }
    
}
.nav__list{
    display: flex;
   
    
   &--item{
   
    text-decoration: none;
    list-style: none;
    text-transform: uppercase;
        
    a{
        text-decoration: none;
        color:black;
    }
    &:not(:last-child){
        margin-right: 50px;
    }
   }
   
}


// content area

.content__area{
    display: flex;
    justify-content: space-between;
    flex-basis: 60%, 40%;
}


.post__content{
    background-color: chartreuse;
    margin-right: 20px;
}

.widget__area{
    justify-self: flex-start;
    width: 100%;    

}
.widget__search{
    &--form{
        &--field{
            // border: 1px solid #474747;
            width: 50%;

        }
        [type="search"]{
            width: 100%;
            outline: none;
            height: 50px;
            border: 1px solid #474747;
            border-radius: 4px;
        }
    }
    
}

.category__list{
    &--item{
        display: flex;
        justify-content: space-between;
    }
}