//============
// Global styles
//============

.container{
    max-width: 1280px;
    margin: 0 auto;

}

.widget__area--header{
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
   
}

.widget__category--list{


}

.horizontal__line{
    height: 1px;
    background-color: #707070;
}